.navbar{
    display:flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    font-size: 25px;
}
.gamebtns{
/*  */
display: flex;
justify-content: center;
height:200px;
gap:30px;
}
.choice{
    background-color: #0d3b66;
    height: 120px;
    margin-top: 40px;
    border-radius:300px;
    width: 80px;
    color:azure;
}
.choice:hover{
    background-color: #5d7b96;
}
.score{
    display: flex;
    justify-content: center;
    gap:50px;
    height:100px;
}
.msgbox{
    display:flex;
    justify-content: center;

}
.msg{
  font-size: 40px;
  background-color: #0d3b66;
  color:beige;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
}