body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#004643;
}
.container{
  text-align: center;
}
.ttt{
  margin-bottom: 30px;
}
.board {
  height:250px;
  width: 250px;
display:flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
  
}

.btn {
  width: 80px;
  height: 80px;
  background-color: #faf4d3;
}

.result {
  margin-top: 15px;
}

.hide {
  display: none;
}









/* 


.text{
    text-align: center;
    color:#d4bca2
 }
.box{
height:60vh;
width: 40vw;
display:flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 5px;}
.container{
      background-color: #48341f;
      height:95vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.btn{
   width:11vw;
   height:18vh;
   gap: 5px;
   border-radius: 20px;
   background-color: #d4bca2;
}
.btns{
   width:8vw;
   height:9vh;
   gap: 5px;
   border-radius: 20px;
   background-color: #d4bca2;
   color:#48341f;
   font-size: 18px;
}
.hide{
   display: none;
} */